/* Masonry Style */
.masonry-layout {
  box-sizing: border-box;
  --columns: 1;
  --gap: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
  padding: 2rem;

  > div > img,
  > div > div {
    width: 100%;
    margin-bottom: 2rem;
  }

  $columns: 4;
  @for $i from 1 through $columns {
    &.columns-#{$i} {
      --columns: #{$i};
    }
  }
}