$palette-color-1: #E83D70;
$palette-color-2: #57C39E;
$palette-color-3: #83D2E1;
$palette-color-4: #EDB642;
$bg-color: #e0e1e2;
$border-color: #ccc;
$border-radius: 8px;

@keyframes circular {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin card-shadow {
  border-radius: $border-radius;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  margin: 0;
}

a {
  color: $palette-color-1;
  text-decoration: none;
  &:hover {
    color: lighten($palette-color-1, 10%);
  }
}

select {
  width: 300px;
  height: 40px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  font-size: 14px;
  padding: 0 10px;
  -webkit-appearance: none;
  &:focus {
    outline: none !important;
  }
}

img {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
  @include card-shadow();
  animation: fadeIn 1s;
}

#logo {
  width: 200px;
  box-shadow: none;
  margin: 0 auto;
}

#loading {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2048;
  > .icon-loading {
    width: 100px;
    height: 100px;
    border-top: 5px solid rgba(255, 255, 255, .5);
    border-right: 5px solid rgba(255, 255, 255, .5);
    border-bottom: 5px solid rgba(255, 255, 255, .5);
    border-left: 5px solid transparent;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    animation: circular 1s infinite linear;
  }
}

.masonry-layout {
  --columns: 1;
  --gap: 2rem;
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-gap: var(--gap);
  padding: 2rem;

  $columns: 4;

  @for $i from 1 through $columns {
    &.columns-#{$i} {
      --columns: #{$i};
    }
  }
}

.btn {
  background-color: $palette-color-1;
  border-radius: $border-radius;
  color: white;
  display: inline-block;
  margin: 0 10px;
  padding: 14px 30px;
  transition: background-color .2s;
  &.btn--vanilla {
    background-color: $palette-color-4;
    color: darken($palette-color-3, 50%);
    &:hover {
      background-color: lighten($palette-color-4, 10%);
      color: darken($palette-color-3, 50%);
    }
    &.not-hover {
      &:hover {
        background-color: $palette-color-4;
        cursor: default;
      }
    }
  }
  &.btn--fr {
    float: right;
    margin: 2rem 0 0 10px;
    padding: 14px 20px;
    &:first-of-type {
      margin-right: 2rem;
    }
  }
  &:active {
    border: 1px solid transparent !important;
  }
  &:focus {
    outline: none !important;
  }
  &:hover {
    background-color: lighten($palette-color-1, 10%);
    color: white;
    cursor: pointer;
  }
}

.card {
  width: 100%;
  background-color: white;
  margin-bottom: 2rem;
  padding: 20px;
  animation: fadeIn 1s;
  @include card-shadow();
  > h4 {
    color: $palette-color-1;
    margin-bottom: 1rem;
  }
}

.tac {
  text-align: center;
}

.clb {
  clear: both;
}

.mt2rem {
  margin-top: 2rem;
}